<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>车销业务</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/global.css"/>
	</head>
	<body>
		<div id="xpjContainer">
			<div id="xpjContent">
				<ul id="menuContent">
					<li class="clearBorder twoTh">
						<a href="#">
							<img src="images/ykph.jpg" alt="移库配货" />
							<h3>移库配货</h3>
						</a>
						<a href="#">
							<img src="images/thsqq.jpg" alt="退货申请" />
							<h3>退货申请</h3>
						</a>
					</li>
					<li class="clearBorder threeTh">
						<a href="#">
							<img src="images/srsjk.jpg" alt="收入上交款" />
							<h3>收入上交款</h3>
						</a>
						<a href="#">
							<img src="images/lrcx.jpg" alt="利润查询" />
							<h3>利润查询</h3>
						</a>
						<a href="#">
							<img src="images/xsbb.jpg" alt="销售报表" />
							<h3>销售报表</h3>
						</a>
					</li>
					<li class="clearBorder borderTop">
						<a href="#">
							<img src="images/xsd.jpg" alt="销售单" />
							<h3>销售单</h3>
						</a>
						<a href="#">
							<img src="images/thd.jpg" alt="退货单" />
							<h3>退货单</h3>
						</a>
						<a href="#">
							<img src="images/ykdd.jpg" alt="移库单" />
							<h3>移库单</h3>
						</a>
						<a href="#">
							<img src="images/kcmxb.jpg" alt="库存明细表" />
							<h3>库存明细表</h3>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
