<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>经营报告</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/global.css"/>
	</head>
	<body>
		<div id="xpjContainer">
			<div id="xpjContent">
				
				<div id="jybg">
					
					<div class="wrap wrapOne">
						<ul class="wrapUl">
							<li>
								<h3>业务员位置</h3>
								<div class="ywymap">
									<img src="images/jybg_r2_c2.jpg" alt="" />
								</div>
							</li>
							<li>
								<h3>超期预警</h3>
								<div class="cqyj">
									<p>1/3保质期：<a href="#">1</a>种，成本<span>0</span>元</p>
									<p>2/3保质期：<a href="#">1</a>种，成本<span>0</span>元</p>
									<p>到期：<a href="#">1</a>种，成本<span>0</span>元</p>
									<p>过期：<a href="#">85</a>种，成本<span>262309.97</span>元</p>
								</div>
							</li>
							<li class="clearMarBot">
								<h3>进货提醒</h3>
								<div class="jhtx">
									<p>您小于安全库存产品有<a href="#">1</a>种，缺货总金额<span>0</span>元</p>
								</div>
							</li>
						</ul>
					</div>
					
					<div class="wrap wrapTwo">
						<ul>
							<li>
								<h3>经营数据（动态指针）</h3>
								<div class="jysj">
									<img src="images/jybg_r2_c4.jpg" alt="" />
								</div>
							</li>
							<li class="clearMarBot">
								<h3>销售排行</h3>
								<div class="xsph">
									<img src="images/jybg_r5_c4.jpg" alt="" />
								</div>
							</li>
						</ul>
					</div>
					
					<div class="wrap wrapThree">
						<ul>
							<li>
								<h3>客户分布图</h3>
								<div class="khfbt">
									<img src="images/jybg_r2_c6.jpg" alt="" />
								</div>
							</li>
							<li class="clearMarBot">
								<h3>本月经营数据</h3>
								<div class="byjy">
									<p>进货：<a href="#">154</a>笔，成本<span>2208197.82</span>元</p>
									<p>销售：<a href="#">2167</a>笔，成本<span>2186261.41</span>元</p>
									<p>退货：<a href="#">58</a>笔，成本<span>13068.06</span>元</p>
									<p>订货：<a href="#">0</a>笔，成本<span>0</span>元</p>
									<p>库存成本金额：<span>262308.94</span>元</p>
								</div>
							</li>
						</ul>
					</div>
					
				</div>
				
			</div>
		</div>
	</body>
</html>
