<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>预售业务</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/global.css"/>
	</head>
	<body>
		<div id="xpjContainer">
			<div id="xpjContent">
				<ul id="menuContent">
					<li class="clearBorder threeTh">
						<a href="#">
							<img src="images/ddsb.jpg" alt="订单申报" />
							<h3>订单申报</h3>
						</a>
						<a href="#">
							<img src="images/ddph.jpg" alt="订单配货" />
							<h3>订单配货</h3>
						</a>
						<a href="#">
							<img src="images/ddzx.jpg" alt="调度中心" />
							<h3>调度中心</h3>
						</a>
					</li>
					<li class="clearBorder">
						<a href="#">
							<img src="images/fhsk.jpg" alt="发货收款" />
							<h3>发货收款</h3>
						</a>
						<a href="#">
							<img src="images/srsjkk.jpg" alt="收入上交款" />
							<h3>收入上交款</h3>
						</a>
						<a href="#">
							<img src="images/psrwcx.jpg" alt="配送任务查询" />
							<h3>配送任务查询</h3>
						</a>
						<a href="#">
							<img src="images/ykbbb.jpg" alt="移库报表" />
							<h3>移库报表</h3>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
