<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>财务管理</title>
	<link href="${ctxStatic}/css/global.css" type="text/css" rel="stylesheet" />
	<link href="${ctxStatic}/css/reset.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div id="xpjContainer">
	<div id="xpjContent">
		<ul id="menuContent">
			<li class="clearBorder twoTh">
				<a href="${ctx}/cw/fPayment/list">
					<img src="${ctxStatic}/images/ybfy.jpg" alt="一般费用单" />
					<h3>一般费用单</h3>
				</a>
				<a href="${ctx}/cw/fPayment/list">
					<img src="${ctxStatic}/images/xjfyd.jpg" alt="现金费用单" />
					<h3>现金费用单</h3>
				</a>
			</li>
			<li class="clearBorder threeTh">
				<a href="${ctx}/cw/fPayment/list">
					<img src="${ctxStatic}/images/fkd.jpg" alt="付款单" />
					<h3>付款单</h3>
				</a>
				<a href="${ctx}/cw/fReceipt/list">
					<img src="${ctxStatic}/images/qtsrd.jpg" alt="其他收入单" />
					<h3>其他收入单</h3>
				</a>
				<a href="${ctx}/cw/fReceipt/list">
					<img src="${ctxStatic}/images/skd.jpg" alt="收款单" />
					<h3>收款单</h3>
				</a>
			</li>
			<li class="clearBorder sixTh borderTop">
				<a href="#">
					<img src="${ctxStatic}/images/yfys.jpg" alt="应收应付" />
					<h3>应收应付</h3>
				</a>
				<a href="#">
					<img src="${ctxStatic}/images/xjsz.jpg" alt="现金收支" />
					<h3>现金收支</h3>
				</a>
				<a href="#">
					<img src="${ctxStatic}/images/cwdz.jpg" alt="财务对账" />
					<h3>财务对账</h3>
				</a>
				<a href="#">
					<img src="${ctxStatic}/images/xjfy.jpg" alt="现金费用" />
					<h3>现金费用</h3>
				</a>
				<a href="#">
					<img src="${ctxStatic}/images/jylc.jpg" alt="经营历程" />
					<h3>经营历程</h3>
				</a>
				<a href="#">
					<img src="${ctxStatic}/images/zcfzb.jpg" alt="资产负债表" />
					<h3>资产负债表</h3>
				</a>
			</li>
		</ul>
	</div>
</div>
</body>
</html>
