<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>车销业务</title>
	<link href="${ctxStatic}/css/global.css" type="text/css" rel="stylesheet" />
	<link href="${ctxStatic}/css/reset.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div id="xpjContainer">
	<div id="xpjContent">
		<ul id="menuContent">
			<li class="clearBorder twoTh">
				<a href="${ctx}/ck/cYkinfo/list">
					<img src="${ctxStatic}/images/ykph.jpg" alt="移库配货" />
					<h3>移库配货</h3>
				</a>
				<a href="${ctx}/ck/cRkckddinfo/order/thOrder">
					<img src="${ctxStatic}/images/thsqq.jpg" alt="退货申请" />
					<h3>退货申请</h3>
				</a>
			</li>
			<li class="clearBorder threeTh">
					<a href="${ctx}/cw/fReceipt/list">
					<img src="${ctxStatic}/images/srsjk.jpg" alt="收入上交款" />
					<h3>收入上交款</h3>
				</a>
				<a href="${ctx}/ck/cDdinfo/lrtblist">
					<img src="${ctxStatic}/images/lrcx.jpg" alt="利润查询" />
					<h3>利润查询</h3>
				</a>
				<a href="${ctx}/ck/cCkinfo/xsInquire">
					<img src="${ctxStatic}/images/xsbb.jpg" alt="销售单查询" />
					<h3>销售单查询</h3>
				</a>
			</li>
			<li class="clearBorder borderTop">
				<!--<a href="#" hidden="hidden">-->
					<!--<img src="${ctxStatic}/images/xsd.jpg" alt="销售单" />-->
					<!--<h3>销售单</h3>-->
				<!--</a>-->
				<a href="${ctx}/cw/fPayment/returnGoodsList">
					<img src="${ctxStatic}/images/thd.jpg" alt="销售退货单" />
					<h3>销售退货单</h3>
				</a>
				<a href="${ctx}/ck/cYkinfo/list">
					<img src="${ctxStatic}/images/ykdd.jpg" alt="移库单" />
					<h3>移库单</h3>
				</a>
				<a href="${ctx}/ck/cHgoods/list">
					<img src="${ctxStatic}/images/kcmxb.jpg" alt="库存明细表" />
					<h3>库存明细表</h3>
				</a>
			</li>
		</ul>
	</div>
</div>
</body>
</html>
