<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>库存管理</title>
	<link href="${ctxStatic}/css/global.css" type="text/css" rel="stylesheet" />
	<link href="${ctxStatic}/css/reset.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div id="xpjContainer">
	<div id="xpjContent">
		<ul id="ckContent">
			<li class="ckLi">
				<a href="${ctx}/ck/cRkckddinfo/rkOrderSelect?lx=0">
					<img src="${ctxStatic}/images/rk.jpg" alt="入库" />
					<h3>入库</h3>
				</a>
				<a href="${ctx}/ck/cRkckddinfo/rkOrderSelect?lx=0">
					<img src="${ctxStatic}/images/rkd.jpg" alt="入库单" />
					<h3>入库单</h3>
				</a>
				<a href="${ctx}/ck/cRkinfo/rkReport">
					<img src="${ctxStatic}/images/rkbb.jpg" alt="入库报表" />
					<h3>入库报表</h3>
				</a>
			</li>
			<li class="ckLi">
				<a href="${ctx}/ck/cYkinfo/list">
					<img src="${ctxStatic}/images/yk.jpg" alt="移库" />
					<h3>移库</h3>
				</a>
				<a href="${ctx}/ck/cYkinfo/list">
					<img src="${ctxStatic}/images/ykd.jpg" alt="移库单" />
					<h3>移库单</h3>
				</a>
				<a href="${ctx}/ck/cYkinfo/ykReport">
					<img src="${ctxStatic}/images/ykbb.jpg" alt="移库报表" />
					<h3>移库报表</h3>
				</a>
			</li>
			<li class="ckLi clearBorder">
				<a href="${ctx}/ck/cRkckddinfo/query?lx=1">
					<img src="${ctxStatic}/images/ck.jpg" alt="出库" />
					<h3>出库</h3>
				</a>
				<a href="${ctx}/ck/cRkckddinfo/query?lx=1">
					<img src="${ctxStatic}/images/ckd.jpg" alt="出库单" />
					<h3>出库单</h3>
				</a>
				<a href="${ctx}/ck/cCkinfo/">
					<img src="${ctxStatic}/images/ckbb.jpg" alt="出库信息" />
					<h3>出库报表</h3>
				</a>
				<a href="${ctx}/ck/cRkckddinfo//rkOrderSelect?lx=0&state=5">
					<img src="${ctxStatic}/images/jhth.jpg" alt="进货退货" />
					<h3>进货退货</h3>
				</a>
				<!--<ul class="liUl">-->
					<!--<li><a href="#">库存盘盈</a></li>-->
					<!--<li><a href="#">库存盘亏</a></li>-->
					<!--<li><a href="#">库存明细表</a></li>-->
					<!--<li><a href="#">库存变动表</a></li>-->
				<!--</ul>-->
			</li>
		</ul>
	</div>
</div>
</body>
</html>
