<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>预售业务</title>
	<link href="${ctxStatic}/css/global.css" type="text/css" rel="stylesheet" />
	<link href="${ctxStatic}/css/reset.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div id="xpjContainer">
	<div id="xpjContent">
		<ul id="menuContent">
			<li class="clearBorder threeTh">
				<a href="${ctx}/ck/cRkckddinfo/libraryList?state=${9}">
					<img src="${ctxStatic}/images/ddsb.jpg" alt="订单申报" />
					<h3>订单申报</h3>
				</a>
				<a href="#">
					<img src="${ctxStatic}/images/ddph.jpg" alt="订单配货" />
					<h3>订单配货</h3>
				</a>
				<a href="#">
					<img src="${ctxStatic}/images/ddzx.jpg" alt="调度中心" />
					<h3>调度中心</h3>
				</a>
			</li>
			<li class="clearBorder">
				<a href="#">
					<img src="${ctxStatic}/images/fhsk.jpg" alt="发货收款" />
					<h3>发货收款</h3>
				</a>
				<a href="#">
					<img src="${ctxStatic}/images/srsjkk.jpg" alt="收入上交款" />
					<h3>收入上交款</h3>
				</a>
				<a href="#">
					<img src="${ctxStatic}/images/psrwcx.jpg" alt="配送任务查询" />
					<h3>配送任务查询</h3>
				</a>
				<a href="${ctx}/ck/cYkinfo/ykReport">
					<img src="${ctxStatic}/images/ykbbb.jpg" alt="移库报表" />
					<h3>移库报表</h3>
				</a>
			</li>
		</ul>
	</div>
</div>
</body>
</html>
